<%= form_for(@banner) do |f| %>
  <% if @banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@banner.errors.count, "erros") %> encontrados:</h2>

      <ul>
      <% @banner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :slider %><br>
    <%= f.check_box :slider %>
  </div>
  <div class="field">
    <%= f.label :top %><br>
    <%= f.check_box :top %>
  </div>
  <div class="field">
    <%= f.label :top_small %><br>
    <%= f.check_box :top_small %>
  </div>
  <div class="field">
    <%= f.label :header %><br>
    <%= f.check_box :header %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
