<h1><%= admin_title('Lista de banners') %></h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>URL</th>
      <th>Slider?</th>
      <th>Top direito?</th>
      <th>Pequeno?</th>
      <th>Superior?</th>
      <th>Ativo?</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @banners.each do |banner| %>
      <tr>
        <td><%= banner.title %></td>
        <td><%= banner.url %></td>
        <td><%= banner.slider ? 'Sim' : 'Não' %></td>
        <td><%= banner.top ? 'Sim' : 'Não' %></td>
        <td><%= banner.top_small ? 'Sim' : 'Não' %></td>
        <td><%= banner.header ? 'Sim' : 'Não' %></td>
        <td><%= banner.active ? 'Sim' : 'Não' %></td>
        <td><%= link_to 'Editar', edit_banner_path(banner) %></td>
        <td><%= link_to 'Apagar', banner, method: :delete, data: { confirm: 'Tem certeza disto?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar Banner', new_banner_path %>
