<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @banner.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @banner.image %>
</p>

<p>
  <strong>Url:</strong>
  <%= @banner.url %>
</p>

<p>
  <strong>Slider:</strong>
  <%= @banner.slider %>
</p>

<p>
  <strong>Top:</strong>
  <%= @banner.top %>
</p>

<p>
  <strong>Top small:</strong>
  <%= @banner.top_small %>
</p>

<p>
  <strong>Active:</strong>
  <%= @banner.active %>
</p>

<%= link_to 'Editar', edit_banner_path(@banner) %> |
<%= link_to 'Voltar', banners_path %>
