<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Imagem principal:</strong>
  <%= @news.image %>
</p>

<p>
  <strong>Des:</strong>
  <%= @news.description %>
</p>

<p>
  <strong>Occur at:</strong>
  <%= @news.occur_at %>
</p>

<p>
  <strong>Active:</strong>
  <%= @news.active %>
</p>

<p>
  <strong>Views:</strong>
  <%= @news.views %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @news.slug %>
</p>

<%= link_to 'Editar', edit_news_path(@news) %> |
<%= link_to 'Voltar', news_index_path %>
