<h1><%= admin_title('Lista de Galerias') %></h1>

<table>
  <thead>
    <tr>
      <th>Evento</th>
      <th>Título</th>
      <th>Data</th>
      <th>Ativo?</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @galleries.each do |gallery| %>
      <tr>
        <td><%= gallery.event.try(:title) %></td>
        <td><%= gallery.title %></td>
        <td><%= l gallery.occur_at %></td>
        <td><%= gallery.active ? 'Sim' : 'Não' %></td>
        <td data-no-turbolink><%= link_to 'Editar', edit_gallery_path(gallery) %></td>
        <td><%= link_to 'Apagar', gallery, method: :delete, data: { confirm: 'Tem certeza disto?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar Galeria', new_gallery_path %>
