<h1><%= admin_title('Lista de Colunas') %></h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @news_categories.each do |news_category| %>
      <tr>
        <td><%= news_category.name %></td>
        <td><%= link_to 'Editar', edit_news_category_path(news_category) %></td>
        <td><%= link_to 'Apagar', news_category, method: :delete, data: { confirm: 'Tem certeza disto?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar coluna', new_news_category_path %>
