<h1><%=title('Agenda')%></h1>
<% @events.each do |event| %>
<article class="post type-post category-latest-news category-reviews post-holder">
  <header class="entry-header">
    <h2 class="entry-title"><a href="<%= front_event_path(event) %>" title="<%= event.title %>"><%= event.title %></a></h2>

    <div class="post-meta">
      <div class="fleft">Ocorreu em: <time datetime="<%= l event.occur_at %>"><%= l event.occur_at %></time></div>
    </div><!--.post-meta-->
  </header>

  <figure class="featured-thumbnail large">
    <a href="<%= front_event_path(event) %>" title="<%= event.title %>"><img src="<%= event.image.url(:head) %>" alt="<%= event.title %>" /></a>
  </figure>
  <div class="clear"></div>

  <div class="post-content">
    <div class="excerpt"><%= event.description.html_safe %></div>
    <a href="<%= front_event_path(event) %>" class="button"><span>Mais informações</span></a>
  </div>
</article>
<% end -%>
