<footer id="footer">
  <div class="footer-bg">
    <div class="container_24 clearfix">
      <div id="widget-footer" class="clearfix">
        <div id="recent-posts-2" class="grid_6">
          <h4>Últimas fotos</h4>
          <ul>
          <% footer_last_galleries.each do |gallery| %>
            <li><a href="<%= front_gallery_path(gallery) %>" title="<%= gallery.title %>"><%= gallery.title %></a></li>
          <% end -%>
          </ul>
        </div>
        <div id="categories-4" class="grid_6">
          <h4>Últimos eventos da agenda</h4>
          <ul>
          <% footer_last_events.each do |event| %>
            <li class="cat-item"><a href="<%= front_event_path(event) %>" title="<%= event.title %>"><%= event.title %></a></li>
          <% end -%>
          </ul>
        </div>
        <div id="archives-4" class="grid_6">
          <h4>Nosso conteúdo</h4>
          <ul>
            <li><a href='<%= front_galleries_path %>' title='Fotos'>Fotos</a></li>
            <li><a href='<%= front_events_path %>' title='Agenda'>Agenda</a></li>
            <li><a href='<%= front_news_index_path %>' title='Colunas'>Colunas</a></li>
            <li><a href='<%= front_videos_path %>' title='Vídeos'>Vídeos</a></li>
            <li><a href='<%= front_companies_path %>' title='Guia Empresarial'>Guia Empresarial</a></li>
          </ul>
        </div>
        <div id="linkcat-32" class="grid_6">
          <h4>Fale conosco</h4>
          <ul class='xoxo blogroll'>
            <li><a href="<%= front_talk_with_us_path %>">Envie sua mensagem</a></li>
            <li><a href="#" target="_blank">Facebook</a></li>
            <li><a href="#" target="_blank">Twitter</a></li>
            <li><a href="#" target="_blank">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container_24 clearfix">
    <div id="copyright" class="clearfix">
      <div class="grid_24">
        <div id="footer-text">

        <a href="<%= root_path %>" title="<%= t('global.slogan') %>" class="site-name"><%=t('global.system_name')%></a> &copy; <%=Date.today.year %>
          <!-- {%FOOTER_LINK} -->
        </div>
        <div class="clear"></div>
      </div>
    </div><!--.container-->
  </div>
</footer>
